<br />
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <select [(ngModel)]="currentUserId" (change)="selectedUserChanged($event)" class="custom-select col-md-1">
        <option *ngFor="let user of users" value="{{user.contactNo}}">{{user.name}}</option>
    </select>
</div>
<div class="container">
    <br />
    <h1>{{ title }}</h1>
    <div class="form-group input-group col-md-12">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-phone"></i></span>
        </div>
        <input [(ngModel)]="fromCell" type="text" class="form-control" placeholder="From No" (keyup)="cellNoKeyUp()" maxlength="10" />
    </div>
    <div class="form-group input-group col-md-12">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-address-book"></i></span>
        </div>
        <select [(ngModel)]="senderId" (change)="senderChanged($event)" class="custom-select">
            <option value="-1">Contacts...</option>
            <option *ngFor="let user of users" value="{{user.contactNo}}">{{user.name}}</option>
        </select>
    </div>
    <div class="form-group input-group col-md-12">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-phone"></i></span>
        </div>
        <input [(ngModel)]="cellNo" type="text" class="form-control" placeholder="To Cell" (keyup)="cellNoKeyUp()" maxlength="10"/>
    </div>
    <div class="form-group col-md-12">
        <textarea [(ngModel)]="message" (keyup)="messageKeyDown()" class="form-control input-sm " type="textarea" id="message"
            placeholder="Message" maxlength="2000" rows="7"></textarea>       
    </div>
    <div class="form-group col-md-2">
        <button [disabled]="disableModel.sendButton" class="form-control input-sm btn btn-success" id="btnSubmit" name="btnSubmit"
            style="height:35px" (click)="send()"> Send</button>
    </div>
</div>